
<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="item" let-item let-root="root">
            <a pRipple class="flex align-items-center p-menuitem-link" [routerLink]="item.routerLink">
                <span [class]="item.icon"></span>
                <span class="ml-2" style="margin-left: 10px;">{{ item.label }}</span>
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
            </a>
        </ng-template>
        <ng-template pTemplate="start">
            <div class="flex align-items-center gap-2" style="display: flex;align-items: center;">
                <label for="" style="padding: 1rem;">{{userCategory ? 'MARIANO' : 'ELDAR'}}</label>
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            </div>
        </ng-template>
    </p-menubar>
</div>  